.helptext{
    font-size: 12px;
    color:#a6a6a6;
}

#registration{
    width:60%;
}


#register-form th{
    text-align: left;
    vertical-align: top;
    width:30px;
} 

#register-form input{
    width:350px;
}

#create-user-button{
/*     margin-left: auto;
    margin-right:0px; */
    align-self: right;
}
