{% extends "orders/base1.html" %}

{% block title %}
    Orders
{% endblock %}


{% block body %}
    <h1>Menu</h1>
    


    <div class="pizza-table">
        <table class="table table-hover" id ="Standard-pizzas-menu">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Size</th>
                <th scope="col">Toppings</th>
                <th scope="col">Price</th>
                <th scope="col">Add</th>
                </tr>
            </thead>
            <tbody>

            {% for pizza in Standard_pizzas %}
                <tr>
                <td>{{pizza.id}}</td>
                <td>{{pizza.size}}</td>
                <td>{{pizza.topping}}</td>
                <td>{{pizza.price}}</td>
                <td><button type="button" class="btn btn-success pizza-button">Add</button></td>
                </tr>
            {% endfor %}
            
            </tbody>
        </table>
    </div>
    <br/>

    <div class="pizza-table">
            <table class="table table-hover" id ="Sicilian-pizzas-menu">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Size</th>
                    <th scope="col">Toppings</th>
                    <th scope="col">Price</th>
                    <th scope="col">Add</th>
                    </tr>
                </thead>
                <tbody>
    
                {% for pizza in Sicilian_pizzas %}
                    <tr>
                    <td>{{pizza.id}}</td>
                    <td>{{pizza.size}}</td>
                    <td>{{pizza.topping}}</td>
                    <td>{{pizza.price}}</td>
                    <td><button type="button" class="btn btn-success pizza-button">Add</button></td>
                    </tr>
                {% endfor %}
                
                </tbody>
            </table>
        </div>
        <br/>


        <div class="other-table">
                <table class="table table-hover" id ="subs-menu">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Sub</th>
                        <th scope="col">Price</th>
                        <th scope="col">Add</th>
                        </tr>
                    </thead>
                    <tbody>
        
                    {% for sub in subs %}
                        <tr>
                        <td>{{sub.id}}</td>
                        <td>{{sub.description}}</td>
                        <td>{{sub.price}}</td>
                        <td><button type="button" class="btn btn-success">Add</button></td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
            <br/>

    
    <div class="other-table">
            <table class="table table-hover" id ="pastas-menu">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pasta</th>
                    <th scope="col">Price</th>
                    <th scope="col">Add</th>
                    </tr>
                </thead>
                <tbody>
    
                {% for pasta in pastas %}
                    <tr>
                    <td>{{pasta.id}}</td>
                    <td>{{pasta.description}}</td>
                    <td>{{pasta.price}}</td>
                    <td><button type="button" class="btn btn-success">Add</button></td>
                    </tr>
                {% endfor %}
                
                </tbody>
            </table>
        </div>
        <br/>

    <div class="other-table">
            <table class="table table-hover" id ="salads-menu">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Salad</th>
                    <th scope="col">Price</th>
                    <th scope="col">Add</th>
                    </tr>
                </thead>
                <tbody>
    
                {% for salad in salads %}
                    <tr>
                    <td>{{salad.id}}</td>
                    <td>{{salad.description}}</td>
                    <td>{{salad.price}}</td>
                    <td><button type="button" class="btn btn-success">Add</button></td>
                    </tr>
                {% endfor %}
                
                </tbody>
            </table>
        </div>
        <br/>

        <div id="platters-table">
                <table class="table table-hover" id ="platters-menu">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Dinner platter</th>
                        <th scope="col">Size</th>
                        <th scope="col">Price</th>
                        <th scope="col">Add</th>
                        </tr>
                    </thead>
                    <tbody>
        
                    {% for platter in platters %}
                        <tr>
                        <td>{{platter.id}}</td>
                        <td>{{platter.description}}</td>
                        <td>{{platter.size}}</td>
                        <td>{{platter.price}}</td>
                        <td><button type="button" class="btn btn-success">Add</button></td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
            <br/>









{% endblock %}
