{% extends "orders/base1.html" %}

{% block title %}
    Pastas
{% endblock %}


{% block body %}
    <div class="menu-table">
        <h1>Pastas</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Pasta</th>
                <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>

            {% for pasta in Pastas %}
                <tr>
                <td>{{pasta.description}}</td>
                <td><a href="{% url 'add_pasta_salad' pasta.description pasta.price %}">{{pasta.price}}</a></td>
                </tr>
            {% endfor %}
            
            </tbody>
        </table>
    </div>
{% endblock %}
